<style>
    .page-header {
        height: 500px;
        min-height: 0px;
    }

    .page-header .container h1 {
        font-weight: 600;
        font-size: 5vw;
        color: white;
    }

    .page-header .container h4 {
        font-weight: 400;
        font-size: 2vw;
        color: #281ee6;
        color: white;
    }

    @media only screen and (max-width: 767px),
    only screen and (max-device-width: 767px) {
        .page-header .container h1 {
            font-size: 10vw;
        }

        .page-header .container h4 {
            font-size: 4vw;
        }
    }
</style>
<header class="page-header" style="background-image: url('/images/blogs/blog5.png');opacity: 0.982857;background-size:cover;  background-position:center;">
  
    <!-- end video-bg -->
    <div class="container">
        <h1>NEWS</h1>
    </div>
    <!-- end container -->
    <!-- end left-side -->
    <!-- end scroll-down -->
    <div class="sound">
        <span> SOUND </span>
        <div class="equalizer">
            <div class="holder">
                <span style="height: 19.4324px"></span>
                <span style="height: 11.7076px"></span>
                <span style="height: 18.8945px"></span>
                <span style="height: 2.12587px"></span><span style="height: 9.91557px"></span><span
                    style="height: 16.057px"></span>
            </div>
            <!-- end holder -->
        </div>
        <!-- end equalizer -->
    </div>
    <!-- end sound -->
</header>
<!-- starting blog section -->
<section class="news">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <% allblogs.forEach(element => { %>
                    <div class="post wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
                        <figure class="post-image">
                            <img src="https://starteclubricants.s3.ap-south-1.amazonaws.com/<%= element.uploadedFile.path %>" alt="Image">
                        </figure>
                        <!-- end news-image -->
                        <div class="post-content">
                            <div class="inner">
                                <!-- <small class="post-date">17 SEPTEMBER, 2019</small> -->
                                <h3 class="post-title"><a href="blogs/<%= element.slug %>"><%= element.title %></a>
                                </h3>
                                <p class="post-text"><%- element.description.substring(0,100) %>...</p>
                            </div>
                            <!-- end inner -->
                        </div>
                        <!-- end post-content -->
                    </div>
                <% }) %>
                
                <!-- end post -->
          
                <!-- end post -->
                <div class="pagination fadeIn">
                    <a href="#">PREV</a>
                    <a href="#">NEXT</a>
                </div>
                <!-- end pagination -->
            </div>
            <!-- end col-12 -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>