<footer class="footer">
    <div class="footer-quote wow fadeIn" style="visibility: hidden; animation-name: none">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <img src="/images/product/logo.png" alt="Image" />
                    <h2>Producing resources for global customers</h2>
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end footer-quote -->
    <div class="footer-contact wow fadeIn" style="visibility: hidden; animation-name: none">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <address>
                        32-A,Sardar Patel industrial estate,<br />
                        NH-8,Ahmedabad – Gujarat,INDIA
                    </address>
                </div>  
                <!-- end col-4 -->
                <div class="col-md-4">
                    <address>
                        +91-74339 94330<br />
                    </address>
                </div>
                <!-- end col-4 -->
                <div class="col-md-3">
                    <address>
                        <a href="#">danalubemfg@gmail.com</a>
                    </address>
                </div>
                <!-- end col-2 -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end footer-contact -->
    <div class="footer-bottom wow fadeIn" style="visibility: hidden; animation-name: none">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <h5>Connect with us</h5>
                    <ul>
                        <li><a href="#">Behance</a></li>
                        <li><a href="#">Instagram</a></li>
                        <li><a href="#">Vimeo</a></li>
                        <li><a href="#">Facebook</a></li>
                    </ul>
                </div>
                <!-- end col-8 -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end footer-bottom -->
</footer>