
<img src="images/footercurver.png" alt="">
<footer class="footer" style="position: relative;">
    <!-- <div class="custom-shape-divider-top-1675234207">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
        </svg>
    </div> -->
    <div class="footer-quote wow fadeIn" style="visibility: hidden; animation-name: none">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <img src="/images/product/logo.png" alt="Image" />

                    <h2>Producing resources for global customers</h2>
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end footer-quote -->
    <div class="footer-contact wow fadeIn" style="visibility: hidden; animation-name: none">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h4>DANA LUBE MFG. CO. STARTEC LUBRICANTS</h4>
                    <address>
                        32-A,Sardar Patel industrial estate,<br />
                        NH-8,Ahmedabad – Gujarat,INDIA
                    </address>
                </div>  
                <!-- end col-4 -->
                <div class="col-md-4">
                    <h4>CONTACT & EMAIL</h4>
                    <!-- <address> -->
                     <h5 style="color:#ffd106;">Phone: <a href="tel:+917433994330" style="color:white; font-size:18px;">+91-74339 94330</a> </h5>   
                     <h5 style="color:#ffd106;">Email: <a href="mailto:danalubemfg@gmail.com" style="color:white; font-size:18px;">danalubemfg@gmail.com</a></h5>   

                    <!-- </address> -->
                </div>

                <div class="col-md-4">
                    <img src="/images/madeinindia.png" alt="Image" width="100"/>

                    <img src="/images/iso.png" alt="Image" width="100" class="mx-5"/>
                   
                </div>
                <!-- end col-4 -->
            
                <!-- end col-2 -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end footer-contact -->
    <div class="footer-bottom wow fadeIn" style="visibility: hidden; animation-name: none">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <h5>Connect with us</h5>
                    <ul>
                        <li><a href="#">Instagram</a></li>
                        <li><a href="#">Facebook</a></li>
                    </ul>
                </div>
                <!-- end col-8 -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end footer-bottom -->
</footer>