<!-- <div class="headcontainer" style="position: fixed;
top: 0;
right: 0;
left: 0;
z-index: 10000;"> -->
  <div class="transition-overlay">
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
  </div>
  <!-- end transition-overlay -->
  <div class="navigation-menu">
    <div class="bg-layers">
      <span></span> <span></span> <span></span> <span></span>
    </div>
    <!-- end bg-layers -->
    <div class="inner" data-tilt="" data-tilt-perspective="2000">
      <div class="menu">
        <ul>
          <li><a href="/">HOME</a></li>
          <li><a href="/about">ABOUT US</a></li>
          <li><a href="/category">PRODUCTS</a></li>
          <li><a href="/blogs">NEWS</a></li>
          <li><a href="/contact">CONTACT</a></li>
        </ul>
      </div>
      <!-- end menu -->
      <blockquote>Feel the power of our lubricants ?</blockquote>
    </div>
    <!-- end inner -->
  </div>
  <nav class="navbar">
    <!-- <div class="left"><a href="direction.html">DIRECTION</a></div> -->
    <!-- end left -->
    <div class="left logo">
      <a href="/"><img src="/images/logo.png" alt="Image" class="img-fluid" /></a>
    </div>
    <!-- end logo -->
    <div class="right">
      <ul class="language">
        <li><a href="/">HOME</a></li>
        <li><a href="/about">ABOUT US</a></li>
        <li><a href="/category">PRODUCTS</a></li>
        <li><a href="/blogs">NEWS</a></li>
        <li><a href="/contact">CONTACT</a></li>
      </ul>
      <div class="hamburger-menu">
        <b>MENU</b>
        <div class="hamburger" id="hamburger-menu">
          <span></span> <span></span> <span></span>
        </div>
      </div>
      <!-- end hamburger-menu -->
    </div>
    <!-- end right -->
  </nav>
<!-- </div> -->