<div class="transition-overlay">
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
  </div>
  <!-- end transition-overlay -->
  <div class="navigation-menu">
    <div class="bg-layers">
      <span></span> <span></span> <span></span> <span></span>
    </div>
    <!-- end bg-layers -->
    <div class="inner" data-tilt="" data-tilt-perspective="2000">
      <div class="menu">
        <ul>
          <li><a href="./">HOME</a></li>
          <li><a href="about.html">ABOUT US</a></li>
          <li><a href="works.html">PRODUCTS</a></li>
          <li><a href="news.html">NEWS</a></li>
          <li><a href="contact.html">CONTACT</a></li>
        </ul>
      </div>
      <!-- end menu -->
      <blockquote>Feel the power of our lubricants ?</blockquote>
    </div>
    <!-- end inner -->
  </div>
<nav class="navbar">
    <!-- <div class="left"><a href="direction.html">DIRECTION</a></div> -->
    <!-- end left -->
    <div class="left logo">
        <a href="index.html"><img src="images/logo.png" alt="Image" /></a>
    </div>
    <!-- end logo -->
    <div class="right">
        <ul class="language">

        </ul>
        <div class="hamburger-menu">
            <b>MENU</b>
            <div class="hamburger" id="hamburger-menu">
                <span></span> <span></span> <span></span>
            </div>
        </div>
        <!-- end hamburger-menu -->
    </div>
    <!-- end right -->
</nav>