<style>
    .page-header {
        height: 500px;
        min-height: 0px;
    }

    .page-header .container h1 {
        font-weight: 600;
        font-size: 5vw;
    }

    .page-header .container h4 {
        font-weight: 400;
        font-size: 2vw;
        color: #281ee6;
        color: white;
    }

    @media only screen and (max-width: 767px),
    only screen and (max-device-width: 767px) {
        .page-header .container h1 {
            font-size: 10vw;
        }

        .page-header .container h4 {
            font-size: 4vw;
        }
    }
</style>
<header class="page-header" style="opacity: 1; transition: all 0.05s ease-in-out 0s;background-image: url('/images/about.jpg');opacity: 0.982857;background-size:cover; background-position:center;">
  
    <!-- end video-bg -->
    <div class="container">
        <h1>ABOUT US</h1>
    <h4>WE ARE THE MANUFACTURER OF THE LUBRICANTS</h4>

    </div>
    <!-- end container -->

    <!-- end left-side -->
    <!-- end scroll-down -->
    <div class="sound"> <span> SOUND </span>
        <div class="equalizer">
            <div class="holder"> <span style="height: 26.0248px;"></span> <span style="height: 10.1626px;"></span> <span
                    style="height: 11.4927px;"></span> <span style="height: 14.121px;"></span><span
                    style="height: 9.88958px;"></span><span style="height: 16.6016px;"></span> </div>
            <!-- end holder -->
        </div>
        <!-- end equalizer -->
    </div>
    <!-- end sound -->
</header>
<!-- end header -->
<section class="intro">
    <div class="container">
        <div class="row">
            <div class="col-12 wow fadeIn" style="visibility: hidden; animation-name: none">
                <h6>WHAT WE DO</h6>
                <h2 data-text="OIL">
                    With the power of our lubricating oils, you are in charge! </h2>
            </div>
            <!-- end col-12 -->
            <div class="col-lg-5 wow fadeIn" style="visibility: hidden; animation-name: none">
                <h4>We invent and manufacture sustainable and environmentally lubricants.</h4>
            </div>
            <!-- end col-5 -->
            <div class="col-lg-7 wow fadeIn" data-wow-delay="0.10s" style="
              visibility: hidden;
              animation-delay: 0.1s;
              animation-name: none;
            ">
                <p>
                    <u>Startec India</u>, is a Leading Manufacturer of lubricating and industrial oil and greases. Its
                    footprint stretched over a wide range of product portfolio, engine oil, industrial oil, hydraulic
                    oil and all base oil product solutions. The company caters to the wide array of industries like
                    Automotive,Manufacturing and industrial units, Machineries, Hydraulic Equipements Etc.


                </p>
                <p>
                    To satisfy the unique needs of our <b>customers</b>, we offer a wide range of packing methods and
                    sizes.
                </p>
                <div class="custom-link wow fadeIn" style="visibility: hidden; animation-name: none">
                </div>
                <!-- end custom-link -->
            </div>
            <!-- end col-7 -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
<!-- end intro -->
<section class="services-content-block">
    <div class="video-bg">
        <video src="videos/video.mp4" muted="" loop="" autoplay=""></video>
    </div>
    <!-- end video-bg -->
    <div class="container">
        <div class="row">
            <div class="col-12 wow fadeIn" style="visibility: hidden; animation-name: none;">
                <h6>SMOOTH INTERFACE INTERACTION</h6>
                <h2>Creation of friendly web interface layout </h2>
            </div>
            <!-- end col-12 -->
            <div class="col-md-4 wow fadeIn" data-wow-delay="0s"
                style="visibility: hidden; animation-delay: 0s; animation-name: none;">
                <div class="content-box">
                    <div class="left"><small>01</small><span></span></div>
                    <!-- end left -->
                    <div class="right">
                        <h4>STRATEGY</h4>
                        <p>Creativity for us something
                            personal.</p>
                        <ul>
                            <li>UX strategy</li>
                            <li>Concept development</li>
                            <li>Content strategy</li>
                            <li>Online marketting </li>
                            <li>User testing &amp; research</li>
                        </ul>
                    </div>
                    <!-- end right -->
                </div>
                <!-- end content-box -->
            </div>
            <!-- end col-4 -->
            <div class="col-md-4 wow fadeIn" data-wow-delay="0.05s"
                style="visibility: hidden; animation-delay: 0.05s; animation-name: none;">
                <div class="content-box">
                    <div class="left"><small>02</small><span></span></div>
                    <!-- end left -->
                    <div class="right">
                        <h4>UI-UX LAYOUT</h4>
                        <p>Creativity for us something
                            personal.</p>
                        <ul>
                            <li>User Interface</li>
                            <li>Prototype development</li>
                            <li>Content strategy</li>
                            <li>Online research </li>
                            <li>Layout wireframe</li>
                        </ul>
                    </div>
                    <!-- end right -->
                </div>
                <!-- end content-box -->
            </div>
            <!-- end col-4 -->
            <div class="col-md-4 wow fadeIn" data-wow-delay="0.10s"
                style="visibility: hidden; animation-delay: 0.1s; animation-name: none;">
                <div class="content-box">
                    <div class="left"><small>03</small><span></span></div>
                    <!-- end left -->
                    <div class="right">
                        <h4>BACK-END DEV</h4>
                        <p>Creativity for us something
                            personal.</p>
                        <ul>
                            <li>CMS Development</li>
                            <li>Back-end Prototype</li>
                            <li>Coding strategy</li>
                            <li>Beta testing </li>
                            <li>Page builder</li>
                        </ul>
                    </div>
                    <!-- end right -->
                </div>
                <!-- end content-box -->
            </div>
            <!-- end col-4 -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
<!-- end services-content-block -->
<section class="process">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-12 wow fadeIn" style="visibility: hidden; animation-name: none;">
                <h6>SMOOTH INTERFACE INTERACTION</h6>
                <h2 data-text="Steps">Process</h2>
            </div>
            <!-- end col-12 -->
            <div class="col-md-3 wow fadeIn" data-wow-delay="0s"
                style="visibility: hidden; animation-delay: 0s; animation-name: none;"> <span>01</span>
                <figure> <img src="images/icon01.jpg" alt="Image">
                    <figcaption>
                        <h5>PREPARETION</h5>
                    </figcaption>
                </figure>
            </div>
            <!-- end col-3 -->
            <div class="col-md-3 wow fadeIn" data-wow-delay="0.05s"
                style="visibility: hidden; animation-delay: 0.05s; animation-name: none;"> <span>02</span>
                <figure> <img src="images/icon02.jpg" alt="Image">
                    <figcaption>
                        <h5>PROTOTYPE</h5>
                    </figcaption>
                </figure>
            </div>
            <!-- end col-3 -->
            <div class="col-md-3 wow fadeIn" data-wow-delay="0.10s"
                style="visibility: hidden; animation-delay: 0.1s; animation-name: none;"> <span>03</span>
                <figure> <img src="images/icon03.jpg" alt="Image">
                    <figcaption>
                        <h5>EXECUTION</h5>
                    </figcaption>
                </figure>
            </div>
            <!-- end col-3 -->
            <div class="col-md-3 wow fadeIn" data-wow-delay="0.15s"
                style="visibility: hidden; animation-delay: 0.15s; animation-name: none;"> <span>04</span>
                <figure> <img src="images/icon04.jpg" alt="Image">
                    <figcaption>
                        <h5>LUNCHED</h5>
                    </figcaption>
                </figure>
            </div>
            <!-- end col-3 -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
<!-- end process -->