<header class="page-header" style="opacity: 1; transition: all 0.05s ease-in-out 0s;">
    <div class="video-bg">
        <video src="videos/video8.mp4" muted="" loop="" autoplay=""></video>
    </div>
    <!-- end video-bg -->
    <div class="container">
        <h1>PRODUCTS</h1>
        <p>TO CREATE A POWERFUL PROJECT ONCE, A BIT OF LUCK IS ENOUGH</p>
    </div>
    <!-- end container -->
    <aside class="left-side">
        <ul>
            <li><a href="#">FACEBOOK</a></li>
            <li><a href="#">BEHANCE</a></li>
            <li><a href="#">DRIBBBLE</a></li>
        </ul>
    </aside>
    <!-- end left-side -->
    <div class="scroll-down"><small>SCROLL DOWN</small><span></span></div>
    <!-- end scroll-down -->
    <div class="sound"> <span> SOUND </span>
        <div class="equalizer">
            <div class="holder"> <span style="height: 14.9296px;"></span> <span style="height: 14.1767px;"></span> <span
                    style="height: 11.2713px;"></span> <span style="height: 17.0498px;"></span><span
                    style="height: 9.86206px;"></span><span style="height: 17.0543px;"></span> </div>
            <!-- end holder -->
        </div>
        <!-- end equalizer -->
    </div>
    <!-- end sound -->
</header>
<section class="process">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-12 wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
          <h6>SMOOTH INTERFACE INTERACTION</h6>
          <h2>Products</h2>
        </div>
        <!-- end col-12 -->
        <div class="col-md-3 wow fadeIn" data-wow-delay="0s" style="visibility: visible; animation-delay: 0s; animation-name: fadeIn;"> 
          <figure> <img src="images/product/1automotive.gif" alt="Image">
            <figcaption>
              <h4>AUTOMOTIVE</h4>
            </figcaption>
          </figure>
        </div>
        <!-- end col-3 -->
        <div class="col-md-3 wow fadeIn" data-wow-delay="0.05s" style="visibility: visible; animation-delay: 0.05s; animation-name: fadeIn;"> 
          <figure> <img src="images/product/2.gif" alt="Image">
            <figcaption>
              <h4>CNG</h4>
            </figcaption>
          </figure>
        </div>
        <!-- end col-3 -->
        <div class="col-md-3 wow fadeIn" data-wow-delay="0.10s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;"> 
          <figure> <img src="images/product/3.gif" alt="Image">
            <figcaption>
              <h4>GEAR OIL</h4>
            </figcaption>
          </figure>
        </div>
        <!-- end col-3 -->
        <div class="col-md-3 wow fadeIn" data-wow-delay="0.15s" style="visibility: visible; animation-delay: 0.15s; animation-name: fadeIn;">
          <figure> <img src="images/product/4.gif" alt="Image">
            <figcaption>
              <h4>HEAVY DUTY</h4>
            </figcaption>
          </figure>
        </div>
        <div class="col-md-3 wow fadeIn" data-wow-delay="0.15s" style="visibility: visible; animation-delay: 0.15s; animation-name: fadeIn;">
            <figure> <img src="images/product/8.gif" alt="Image">
              <figcaption>
                <h4>HYDROLIC</h4>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-3 wow fadeIn" data-wow-delay="0.15s" style="visibility: visible; animation-delay: 0.15s; animation-name: fadeIn;"> 
            <figure> <img src="images/product/6.gif" alt="Image">
              <figcaption>
                <h4>INDUSTRIAL</h4>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-3 wow fadeIn" data-wow-delay="0.15s" style="visibility: visible; animation-delay: 0.15s; animation-name: fadeIn;"> 
            <figure> <img src="images/product/7.gif" alt="Image">
              <figcaption>
                <h4>SMALL ENGINE OIL</h4>
              </figcaption>
            </figure>
          </div>
        <!-- end col-3 --> 
      </div>
      <!-- end row --> 
    </div>
    <!-- end container --> 
  </section>
